@charset "utf-8";
/* CSS Document */

/*General Settings*/

.ui-page{

}

.ui-body-c{
	
}

.ui-page .ui-header{
	background: #1C75BC;
	text-shadow: none;
	border: none;	
}

.ui-content{
	text-shadow: none;
	color: #F2F2F2;
}

.ui-footer{
	
}

/*Home Page*/


#pagehome, #pagelist, #pagenew, #pageeditdetails, #pageeditdetails, #pageeditratings{
	background: #29A8E0;
	border: none;

}

.login{
	background: #1C75BC;
	border-radius: 25px;
	padding: 25px;	
}

.logininput {
	padding-bottom: 30px;
}



