@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;	
}

.ui-body-c {
	font-family: "Segoe UI Light";
	height: 100%;
}

.ui-body-c .ui-link{
	color: #F2F2F2;	
	text-decoration: none;
	text-shadow: none;
}

.ui-body-c .ui-link:visited {
	color: #F2F2F2;
	text-decoration: none;
	text-shadow: none;
}

.ui-body-c .ui-link:hover {
	color: #1C75BC;
}

p {
	color: #F2F2F2;
	text-decoration: none;
	text-shadow: none;
}

p a:link, a:visited {
	text-decoration: none;
	text-shadow: none;
}

#homepage, #editpage, #existingpage {
	background: #29A8E0;
}

.homepage_title {
	color: #F2F2F2;
	font-size: 64px;
	margin-top: 32px;
	text-align: center;
	text-shadow: none;
	height: 34%;
}

.homepage_menu {
	color: #F2F2F2;
	font-size: 32px;
	font-decoration: none;
	text-align:center;
	height: 66%;
}

.header {
	color: #F2F2F2;
	font-size: 32px;
	font-decoration: none;
	text-shadow: none;
	text-align:center;
	background-color: #1C75BC;
	padding: 12px;;
}





